<html>
<head>
    <title>入门小Demo-1</title>
    <script type="text/javascript" src="/plugins/angularjs/angular.min.js"></script>

    <script>
        var app=angular.module('myApp',[]); //定义了一个叫myApp的模块
        app.controller('myController',function($scope){
            $scope.add=function(){
                return parseInt($scope.x)+parseInt($scope.y);
            }

            $scope.sub=function(){
                $scope.z= parseInt($scope.x)-parseInt($scope.y);
            }

            $scope.list= [
                {name:'张三',shuxue:100,yuwen:93},
                {name:'李四',shuxue:88,yuwen:87},
                {name:'王五',shuxue:77,yuwen:56}
            ];//定义数组

        });
        angular.bootstrap(document.body,['myApp']);
    </script>
</head>

<body ng-app="myApp"  ng-controller="myController">
{{100+100}}

<hr />
请输入你的姓名：<input ng-model="myname">
<br />
你好，{{myname}}
<br />
<br />
<br />

<hr/>
x:<input ng-model="x" >
y:<input ng-model="y" >
运算结果：{{add()}}

<hr/>
x:<input ng-model="x" >
y:<input ng-model="y" >
<button ng-click="sub()">运算</button>
结果：{{z}}

<hr />
<table>
<tr>
    <td>姓名</td>
    <td>数学</td>
    <td>语文</td>
</tr>
<tr ng-repeat="entity in list">
    <td>{{entity.name}}</td>
    <td>{{entity.shuxue}}</td>
    <td>{{entity.yuwen}}</td>
</tr>
</table>

</body>
</html>