<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js">  </script>
    <!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
    <script type="text/javascript" src="../js/base_pagination.js">  </script>
    <script type="text/javascript" src="../js/service/sellerService.js">  </script>
    <script type="text/javascript" src="../js/controller/baseController.js">  </script>
    <script type="text/javascript" src="../js/controller/sellerController.js">  </script>
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="sellerController" >
  <!-- .box-body -->
                    <div class="box-header with-border">
                        <h3 class="box-title">管理</h3>
                    </div>
                    <div class="box-body">
                        <!-- 数据表格 -->
                        <div class="table-box">
                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ng-click="entity={}"><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除" ng-click="dele()"><i class="fa fa-trash-o"></i> 删除</button>           
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">							       
                                </div>
                            </div>
                            <!--工具栏/-->
			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
                                          <th class="sorting">用户ID</th>
                                          <th class="sorting">公司名</th>
                                          <th class="sorting">店铺名称</th>
                                          <th class="sorting">密码</th>
                                          <th class="sorting">EMAIL</th>
                                          <th class="sorting">公司手机</th>
                                          <th class="sorting">公司电话</th>
                                          <th class="sorting">状态</th>
                                          <th class="sorting">详细地址</th>
                                          <th class="sorting">联系人姓名</th>
                                          <th class="sorting">联系人QQ</th>
                                          <th class="sorting">联系人电话</th>
                                          <th class="sorting">联系人EMAIL</th>
                                          <th class="sorting">营业执照号</th>
                                          <th class="sorting">税务登记证号</th>
                                          <th class="sorting">组织机构代码</th>
                                          <th class="sorting">公司地址</th>
                                          <th class="sorting">公司LOGO图</th>
                                          <th class="sorting">简介</th>
                                          <th class="sorting">创建日期</th>
                                          <th class="sorting">法定代表人</th>
                                          <th class="sorting">法定代表人身份证</th>
                                          <th class="sorting">开户行账号名称</th>
                                          <th class="sorting">开户行</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
			                              <td><input  type="checkbox" ng-click="updateSelection($event,entity.sellerId)"></td>
                                          <td>{{entity.sellerId}}</td>
                                          <td>{{entity.name}}</td>
                                          <td>{{entity.nickName}}</td>
                                          <td>{{entity.password}}</td>
                                          <td>{{entity.email}}</td>
                                          <td>{{entity.mobile}}</td>
                                          <td>{{entity.telephone}}</td>
                                          <td>{{entity.status}}</td>
                                          <td>{{entity.addressDetail}}</td>
                                          <td>{{entity.linkmanName}}</td>
                                          <td>{{entity.linkmanQq}}</td>
                                          <td>{{entity.linkmanMobile}}</td>
                                          <td>{{entity.linkmanEmail}}</td>
                                          <td>{{entity.licenseNumber}}</td>
                                          <td>{{entity.taxNumber}}</td>
                                          <td>{{entity.orgNumber}}</td>
                                          <td>{{entity.address}}</td>
                                          <td>{{entity.logoPic}}</td>
                                          <td>{{entity.brief}}</td>
                                          <td>{{entity.createTime}}</td>
                                          <td>{{entity.legalPerson}}</td>
                                          <td>{{entity.legalPersonCardId}}</td>
                                          <td>{{entity.bankUser}}</td>
                                          <td>{{entity.bankName}}</td>
		                                  <td class="text-center">                                           
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.seller_id)" >修改</button>                                           
		                                  </td>
			                          </tr>									 
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
                        </div>
                        <!-- 数据表格 /-->
                        <!-- 分页 -->
						<tm-pagination conf="paginationConf"></tm-pagination>
                     </div>
                    <!-- /.box-body -->
         
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">编辑</h3>
		</div>
		<div class="modal-body">	
			 <table class="table table-bordered table-striped"  width="800px">			
                 <tr>
                     <td>公司名</td>
                     <td><input  class="form-control" ng-model="entity.name" placeholder="公司名" ></td>
                 </tr>
                 <tr>
                      <td>店铺名称</td>
                      <td><input  class="form-control" ng-model="entity.nickName" placeholder="店铺名称" ></td>
                 </tr>
                 <tr>
                       <td>密码</td>
                       <td><input  class="form-control" ng-model="entity.password" placeholder="密码" ></td>
                 </tr>
		      	 <tr>
                     <td>EMAIL</td>
                     <td><input  class="form-control" ng-model="entity.email" placeholder="EMAIL" ></td>
                 </tr>
		      	 <tr>
                     <td>公司手机</td>
                     <td><input  class="form-control" ng-model="entity.mobile" placeholder="公司手机" ></td>
                 </tr>
		      	 <tr>
                     <td>公司电话</td>
                     <td><input  class="form-control" ng-model="entity.telephone" placeholder="公司电话" ></td>
                 </tr>
                 <tr>
                     <td>状态</td>
                     <td><input  class="form-control" ng-model="entity.status" placeholder="状态" ></td>
                 </tr>
                 <tr>
                     <td>详细地址</td>
                     <td><input  class="form-control" ng-model="entity.addressDetail" placeholder="详细地址" ></td>
                 </tr>
                 <tr>
                      <td>联系人姓名</td>
                      <td><input  class="form-control" ng-model="entity.linkmanName" placeholder="联系人姓名" ></td>
                 </tr>
		      	 <tr>
                     <td>联系人QQ</td>
                     <td><input  class="form-control" ng-model="entity.linkmanQq" placeholder="联系人QQ" ></td>
                 </tr>
		      	<tr>
                    <td>联系人电话</td>
                    <td><input  class="form-control" ng-model="entity.linkmanMobile" placeholder="联系人电话" ></td>
                </tr>
		      	<tr>
                    <td>联系人EMAIL</td>
                    <td><input  class="form-control" ng-model="entity.linkmanEmail" placeholder="联系人EMAIL" ></td>
                </tr>
		      	<tr>
                    <td>营业执照号</td>
                    <td><input  class="form-control" ng-model="entity.licenseNumber" placeholder="营业执照号" ></td>
                </tr>
		      	<tr>
                    <td>税务登记证号</td>
                    <td><input  class="form-control" ng-model="entity.taxNumber" placeholder="税务登记证号" ></td>

                </tr>
		      	<tr>
                    <td>组织机构代码</td>
                    <td><input  class="form-control" ng-model="entity.orgNumber" placeholder="组织机构代码" ></td>
                </tr>
		      	<tr>
                    <td>公司地址</td>
                    <td><input  class="form-control" ng-model="entity.address" placeholder="公司地址" ></td>
                </tr>
		      	<tr>
                    <td>公司LOGO图</td>
                    <td><input  class="form-control" ng-model="entity.logoPic" placeholder="公司LOGO图" ></td>
                </tr>
		      	<tr>
                    <td>简介</td>
                    <td><input  class="form-control" ng-model="entity.brief" placeholder="简介" ></td>
                </tr>
		      	<tr>
                    <td>创建日期</td>
                    <td><input  class="form-control" ng-model="entity.createTime" placeholder="创建日期" ></td>
                </tr>
		      	<tr>
                    <td>法定代表人</td>
                    <td><input  class="form-control" ng-model="entity.legalPerson" placeholder="法定代表人" ></td>
                </tr>
		      	<tr>
                    <td>法定代表人身份证</td>
                    <td><input  class="form-control" ng-model="entity.legalPersonCardId" placeholder="法定代表人身份证" ></td>
                </tr>
		      	<tr>
                    <td>开户行账号名称</td>
                    <td><input  class="form-control" ng-model="entity.bankUser" placeholder="开户行账号名称" ></td>
                </tr>
		      	<tr>
                    <td>开户行</td>
                    <td><input  class="form-control" ng-model="entity.bankName" placeholder="开户行" ></td>
                </tr>
			 </table>				
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
   
</body>
</html>
